@charset "utf-8";
/*placeholder*/
::-webkit-input-placeholder{/* Webkit browsers */color:#FFF;}
:-moz-placholder{/* Mozilla Firefox 4 to 18 */ color:#FF;}
::-moz-placholder{/* Mozilla Firefox 19+ */ color:#FFF;}
:-ms-input-placholder{/*Internet Explorer 10+ */ color:#FFF;}




/* Clear */
.clear-left {clear: left;}
.clear-both {clear: both;}


/* 영문, 숫자, 특수가경우 letter-spacing: 0으로 변경 */
.eng-text, .num-text, .letter-spacing-0 {letter-spacing:0 !important;}


/* Position*/
.position-relative {
  position: relative !important; }
.position-absolute {
  position: absolute !important; }
.position-fixed {
  position: fixed !important; }


/* 너비,높이 */
.w-25 {
  width: 25% !important; }

.w-40 {
  width: 40% !important; }

.w-48 {
  width: 48% !important; }

.w-50 {
  width: 50% !important; }

.w-60 {
  width: 60% !important; }

.w-75 {
  width: 75% !important; }

.w-100 {
  width: 100% !important; }

.h-25 {
  height: 25% !important; }

.h-50 {
  height: 50% !important; }

.h-75 {
  height: 75% !important; }

.h-100 {
  height: 100% !important; }

.mw-100 {
  max-width: 100% !important; }

.mh-100 {
  max-height: 100% !important; }

.min-auto {
 min-width: auto !important;}

 .w-auto {width: auto !important;}

/* 여백 */
.m-0 {margin: 0 !important; }
.mt-0, .my-0 {margin-top: 0 !important; }
.mr-0, .mx-0 {margin-right: 0 !important; }
.mb-0, .my-0 {margin-bottom: 0 !important; }
.ml-0, .mx-0 {margin-left: 0 !important; }
.m-auto {margin: auto !important; }
.mt-auto, .my-auto {margin-top: auto !important; }
.mr-auto, .mx-auto {margin-right: auto !important; }
.mb-auto, .my-auto {margin-bottom: auto !important; }
.ml-auto, .mx-auto {margin-left: auto !important; }

.mb-5 {margin-bottom: 5px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mb-60 {margin-bottom: 60px !important;}
.mb-70 {margin-bottom: 70px !important;}
.mb-80 {margin-bottom: 80px !important;}
.mb-90 {margin-bottom: 90px !important;}
.mb-100 {margin-bottom: 100px !important;}

.mt-5 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}
.mt-60 {margin-top: 60px;}
.mt-70 {margin-top: 70px;}
.mt-80 {margin-top: 80px;}
.mt-90 {margin-top: 90px;}
.mt-100 {margin-top: 100px;}

.ml-5 {margin-left: 5px;}
.ml-10 {margin-left: 10px;}
.ml-20 {margin-left: 20px;}
.ml-30 {margin-left: 30px;}
.ml-40 {margin-left: 40px;}
.ml-50 {margin-left: 50px;}
.ml-60 {margin-left: 60px;}
.ml-70 {margin-left: 70px;}
.ml-80 {margin-left: 80px;}
.ml-90 {margin-left: 90px;}
.ml-100 {margin-left: 100px;}

.mr-5 {margin-right: 5px;}
.mr-10 {margin-right: 10px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}
.mr-40 {margin-right: 40px;}
.mr-50 {margin-right: 50px;}
.mr-60 {margin-right: 60px;}
.mr-70 {margin-right: 70px;}
.mr-80 {margin-right: 80px;}
.mr-90 {margin-right: 90px;}
.mr-100 {margin-right: 100px;}

.py-10 {padding-top: 10px; padding-bottom: 10px;}
.py-20 {padding-top: 20px; padding-bottom: 20px;}
.py-30 {padding-top: 30px; padding-bottom: 30px;}
.py-40 {padding-top: 40px; padding-bottom: 40px;}
.py-50 {padding-top: 50px; padding-bottom: 50px;}
.py-60 {padding-top: 60px; padding-bottom: 60px;}
.py-70 {padding-top: 70px; padding-bottom: 70px;}
.py-80 {padding-top: 80px; padding-bottom: 80px;}
.py-90 {padding-top: 90px; padding-bottom: 90px;}
.py-100 {padding-top: 100px; padding-bottom: 100px;}

.pb-0 {padding-bottom: 0px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pb-30 {padding-bottom: 30px !important;}
.pb-40 {padding-bottom: 40px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pb-60 {padding-bottom: 60px !important;}
.pb-70 {padding-bottom: 70px !important;}
.pb-80 {padding-bottom: 80px !important;}
.pb-90 {padding-bottom: 90px !important;}
.pb-100 {padding-bottom: 100px !important;}

.p-0 {padding: 0 !important;}
.pt-0, .py-0 {padding-top: 0 !important;}
.pr-0, .px-0 {padding-right: 0 !important;}
.pb-0, .py-0 {padding-bottom: 0 !important;}
.pl-0, .px-0 {padding-left: 0 !important;}
.p-auto {padding: auto !important;}
.pt-auto, .py-auto {padding-top: auto !important;}
.pr-auto, .px-auto {padding-right: auto !important;}
.pb-auto, .py-auto {padding-bottom: auto !important;}
.pl-auto, .px-auto {padding-left: auto !important;}


/* 정렬 */
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.text-center {text-align: center !important;}
.align-top {vertical-align: top !important;}
.align-middle {vertical-align: middle !important;}
.align-bottom {vertical-align: bottom !important;}
.align-text-bottom {vertical-align: text-bottom !important;}
.align-text-top {vertical-align: text-top !important;}
.float-right {float: right;}
.float-left {float: left;}

/* Display */
.display-none {display: none !important; }
.display-block {display: block !important; }
.display-inline {display: inline !important; }
.display-flex {display: flex !important; }
.display-inline-block {display: inline-block !important; }


/* 디자인 체크박스, 라디오박스 */
.regist-form {padding: .35rem; border: 1px solid #D9D9D9; border-radius: .15rem .15rem .15rem .15rem; box-sizing: border-box;}
select.regist-form {padding: .5rem;}


/* border */
.border-top-gray {border-top: 1px solid #d8dadb;}
.border-bottom-0 {border-bottom: 0 !important;}

/* 페이징 */
.paging {}
.paging ul { margin: 0 auto;}
.paging li {line-height: 1.1; font-size: .9rem; text-align: center; padding: 10px 0; width: 35px; float: left; cursor: pointer; box-sizing: border-box;}
.paging li:hover {color: #0A997B; font-weight: bold;}
.paging li.on {background: #0A997B; color: #FFF; border-radius: 100%;}
.paging li.on a {color: #FFF;}
.paging li.arrow-box {line-height: 1;}
.paging:after {display: block; content:''; clear: both;}

/* no-data */
.no-data {width: 100% !important; padding: 5rem 0 !important;}

input:focus {outline: none;}
textarea:focus {outline: none;}
button:focus {outline: none;}

input[type="password"] {font-family: "dotum" !important; }
span.small {font-size: 0.875rem; color: #222;}
.alert {color: #DA4453 !important;}
.green {color: #37BC9B !important;}
.green.lighten {color: #1d9c3a !important;}
.green.darken {color: #008776 !important;}
.light-green {color: #03c75a !important;}
.orange {color: #ff9800 !important;}
.red {color: #c40000 !important;}
.red.darken {color: #87100f !important;}
.brown.darken {color: #543b36 !important;}
.purple.darken {color: #322846 !important;}
.light-red {color: #da4453 !important;}
.blue {color: #1169c2 !important;}
.blue.lighten {color: #0080c8 !important;}

.blue.lighten-1 {color: #009fda !important;}
.blue.lighten-2 {color: #00a9e7 !important;}
.blue.lighten-3 {color: #00b7ee !important;}
.blue.darken {color: #262f76 !important;}
.blue.darken-1 {color: #0089c5 !important;}
.blue.darken-2 {color: #0073af !important;}
.blue.darken-3 {color: #005c9b !important;}
.blue.darken-4 {color: #065583 !important;}

.gray.lighten {color: #888 !important;}
.gray {color: #666 !important;}
.btn-blue {color: #fff !important; border: 1px solid #2279d1 !important; background-color: #2279d1 !important;}
.btn-blue.darken {color: #fff !important; border: 1px solid #262f76 !important; background-color: #262f76 !important;}
.btn-green.lighten {background-color: #1d9c3a; border: 1px solid #1d9c3a !important; color: #fff !important;}
.btn-outline-blue {color: #2279d1 !important; border: 1px solid #2279d1 !important; background-color: #fff !important;}
.btn-outline-gray {color: #222 !important; border: 1px solid #222 !important; background-color: #fff !important;}
.btn-outline-blue.lighten-1 {color: #023b7e !important; border: 1px solid #4a8ab3 !important; background-color: #fff !important;}
.btn-outline-white {background-color: transparent !important; color: #fff !important; border: 1px solid #fff;}
.btn-outline-purple.darken {background-color: #fff; border: 1px solid #322846 !important; color: #322846 !important;}
.btn-outline-green.lighten {background-color: #fff; border: 1px solid #1d9c3a !important; color: #1d9c3a !important;}
.btn-outline-red.darken {background-color: #fff; border: 1px solid #87100f !important; color: #87100f !important;}

.f-14 {font-size: 14px !important;}