@charset "utf-8";

/* modal */
.modal {position: fixed; top: 0; background: url('../../images/background/modal-dim.png'); width: 100%; height: 100vh; display: none; overflow: hidden; z-index: 100;}
.modal label {cursor: pointer;}
.modal div {line-height: 1; box-sizing: border-box;}
.modal .modal-box {width: 330px; overflow: hidden; background: #FFF; margin: 215px auto; border-radius: 4px; -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45); -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.45); box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);}
.modal .modal-box .modal-header {position: relative; width: 100%; padding: 17px 15px; box-sizing: border-box; background-color: #262f76;}
.modal .modal-box .modal-header h3 {display: block; font-family: 'Notosanscjk'; font-size: 20px; font-weight: 400; letter-spacing: -0.075rem; color: #fff;}
.modal .modal-box .modal-container {position: relative; width: 100%; padding: 0 20px; box-sizing: border-box;}
.modal .modal-box .modal-container .m-container-body {width: 100%; padding: 40px 0; box-sizing: border-box; text-align: center;}
.modal .modal-box .modal-container .m-container-body > p {font-size: 16px; line-height: 23px; letter-spacing: -0.075rem; color: #222;}
.modal .modal-box .modal-container .m-container-body > p.retake-text { letter-spacing: -0.045rem; word-break: keep-all;}
.modal .modal-box .modal-footer {text-align: right; padding: 15px; box-sizing: border-box; width: 100%; border-top: 1px solid #eceeef; background-color: #fff;}
.modal .modal-box .modal-footer .btn {padding: 11px 32px 11px 30px; box-sizing: border-box;border: 1px solid #555; border-radius: 4px; background-color: #fff; font-size: 14px; color: #555;}
.modal .modal-box .modal-footer .btn.btn-confirm {border: 1px solid #531817; color: #531817;}

.modal.text-modal .modal-box {padding: 35px 20px 30px;}
.modal.text-modal .modal-box .modal-header {padding: 0 14px 10px; background-color: #fff;}
.modal.text-modal .modal-box .modal-header button {position: absolute; top: -16px; right: -6px; border: 0; background-color: transparent;}
.modal.text-modal .modal-box .modal-header button i {font-size: 20px; color: #dcdcdc;}
.modal.text-modal .modal-box .modal-header h3 {font-size: 23px; font-family: 'NotosanscjkBO'; font-weight: 600; color: #333;}
.modal .modal-box .modal-container {padding: 0 14px; text-align: left;}
.modal .modal-box .modal-container p {color: #555; line-height: 1.5;}

/* */
.modal.bg-dark {background: rgba(0,0,0,0.8);}
.modal.bg-dark .modal-box {background: transparent;}
.modal.bg-dark .modal-box .modal-header {border-bottom: 1px solid #eceeef; background: transparent; text-align: center; color: #fff;}
.modal.bg-dark .modal-box .modal-header h4 {font-weight: normal; font-family: 'NotosanscjkM'; font-size: 18px; color: #fff;}
.modal.bg-dark .modal-box .modal-header p {font-family: 'Notosanscjk'; font-size: 16px; color: #fff;}
.modal.bg-dark .modal-box label {color: #fff; word-break: keep-all;}
.modal.bg-dark .modal-box .modal-footer {text-align: center; padding: 0; border-top: 0; background: transparent;}

/* 미리보기 종료*/
#end-preview {height: 100vh; background-color: #fff; background-image: url('../../images/background/bg-preview.png'); background-position: top right; background-repeat: no-repeat; background-size: contain;}
#end-preview .ci-area {position: absolute; top: 3.125rem; left: 5rem; display: inline-block; width:11.25rem; height: 5rem;}
#end-preview .ci-area img {width: 100%; }
#end-preview .modal-box {position: relative; width: calc(100% - 27.5rem); max-width: 76.25rem; overflow: visible; margin: 18.125rem auto; box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);}
#end-preview .modal-header {padding: 8.438rem 0 0 0; box-sizing: border-box; background-color: #fff; z-index: 10;}
#end-preview .modal-header h3 {font-family:'NotosanscjkBO'; font-size: 4.688rem; color: #0866c4; margin-bottom: 3.125rem;}
#end-preview .modal-container p {font-size: 3.75rem; word-break: keep-all; white-space: pre-wrap; color: #222; line-height: 1.16; letter-spacing: -0.045rem;}
#end-preview .modal-container p b {display: block; word-break: keep-all; white-space: pre-wrap; font-weight: normal; font-style: normal;}
#end-preview .modal-footer {padding: 4rem 0 5.25rem 0; border-top: 0;}
#end-preview .modal-footer button {min-width: 37.5rem; padding: 2rem 0; box-sizing: border-box; font-size: 3.75rem; font-family: 'NotosanscjkBO'; background-color: #0866c4; color: #fff; text-align: center; box-shadow: 4px 6px 9.5px 0.5px rgba(0, 0, 0, 0.2); border-radius: 3.75rem; border: 0; outline: none;}
#end-preview .modal-header, #end-preview .modal-container, #end-preview .modal-footer {text-align: center;}
#end-preview .modal-box:before, #end-preview .modal-box:after {position: absolute; content:''; display: inline-block; width: 19rem; height: 27.5rem; background-repeat: no-repeat; background-size: contain; z-index: 100;}
#end-preview .modal-box:before {bottom: -3rem; left: -9.375rem; background-image: url('../images/sample/man.png'); }
#end-preview .modal-box:after {bottom: -3rem; right: -9.375rem; background-image: url('../images/sample/woman.png'); }
#end-preview .img-area {position: absolute; top:40%; display: flex; width: 100%; justify-content: space-between; z-index: 100;}
#end-preview .img-area .img-cover {position: relative; width: 19rem;}
#end-preview .img-area .img-cover img {max-width: 100%;}

/* modal-size */
.modal .modal-box.modal-sm{}
.modal .modal-box.modal-md{width: 600px; margin: 126px auto;}
.modal .modal-box.modal-lg{width: 90% !important; max-width: 70%; margin-left: 15%; margin-right: 15%;}
.modal-box.sm-height {margin: 5% auto;}


@media (max-width: 1920px) {
.fontSize {font-size: 12px;}
}

@media (max-width: 1257px) {
.fontSize {font-size: 8px;}
}

@media (max-width: 1240px), (orientation: landscape) {
#end-preview .modal-box.mChange {margin: 2% auto 0 !important;}
}

@media (max-width: 785px) {
#end-preview {background-image: none;}
#end-preview .modal-box {width: 90%; max-width: 90%; overflow: visible; margin: 12rem auto 0;}
#end-preview .modal-box:before, #end-preview .modal-box:after {display: none;}
#end-preview .modal-box.mChange {margin: 2% auto 0 !important;}
}

@media (max-width: 600px) {
.modal .modal-box.modal-md {width: 90% !important; margin-left: 5%; margin-right: 5%;}
.modal .modal-box .modal-container p {word-break: keep-all;}
.modal .modal-box .modal-container p br {display: none;}
}

@media(max-width: 500px){
.fontSize {font-size: 7px;}
#end-preview {background-size: cover;}
#end-preview .modal-box {margin: 20vh auto 0;}

#set-player.open {display: block !important;}
#set-player.modal.bg-dark .modal-box {box-shadow: none;}
#set-player.modal.bg-dark .modal-box {margin: 140px auto 215px;}
}

@media(max-width: 417px){
.fontSize {font-size: 6px;}
#end-preview .modal-container p b {display: inline;}
}

